In [11]:
import sqlite3

In [15]:
connection=sqlite3.connect("Example.db")
connection

In [19]:
cursor=connection.cursor()

In [27]:
cursor.execute('''
Create Table If Not Exists Emoloyee(
Id Integer Primary Key,
Name Text Not null,
Age Integer,
Department Text

)
''')
connection.commit()

In [35]:
cursor.execute('''
select * from Emoloyee
''')

In [45]:
cursor.execute('''
Insert into Emoloyee(Name,Age,Department)
values("sandeep",20,"data Analytics")
''')
cursor.execute('''
Insert Into Emoloyee(Name,Age,Department)
values("neha",19,"data engineer")
''')
cursor.execute('''
Insert Into Emoloyee(Name,Age,Department)
values("rahul",18,"data Scientist")
''')
connection.commit()

In [49]:
cursor.execute('''
select * from Emoloyee
''')

In [55]:
cursor.execute('''
select * from Emoloyee
''')
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'sandeep', 20, 'data Analytics')
(2, 'neha', 19, 'data engineer')
(3, 'rahul', 18, 'data Scientist')